<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a href="/",class="navbar-brand">情報共有サイト</a>
</nav>


<h1 class="user-in">ログイン画面</h1>
<%= form_with(url: login_path, scope: :sessions, local: true)do |f| %>


<div class="login">
    <div class="form-group">
        <%= f.label :email, "Eメール" %>
        <%= f.email_field :email, class: "form_control" %>
    </div>
    <div class="form-group">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: "form_cpntrol" %>
    </div>
    
        <%= f.submit 'ログインする', class: 'btn btn-primary btn-block' %>
<% end %>
        
    <p class="login-new-user">新規ユーザー？<%= link_to "アカウント作成", signup_path %></p>

</div>
