<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <%= link_to "メッセージ投稿サイト", titles_path, class: "navbar-brand" %>
      
        <form class="form-inline">
          <%= link_to "ログアウト", logout_path, method: :delete, class: "btn-flat-border" %>
        </form>
</nav>

<div class="title-look">
<h1 class="user-title">投稿内容一覧</h1>
  <ul class="btn-flat-border">
      <li><%= link_to "質問を投稿する", new_title_path %></li>
  </ul>




<% @titles.each do |title| %>

 <ul class ="title-after">
     <li>ユーザ名前:<%= title.name %></li>
     <li>タイトル:<%= title.title %></li>
     <li>内容： <%= title.body %></li>
 </ul>
 
 <% end %>
 
</div> 

<%= paginate @titles %>