<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <%= link_to "情報共有サイト", titles_path, class: "navbar-brand" %>
</nav>

<h1>入力画面</h1>

<%= form_with(model: @title, local: true) do |f| %>
 
    <div class="form_group">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, class: 'form-control' %>
    </div>
   
    <div class="form-group">
        <%= f.label :body, "内容"%>
        <%= f.text_field :body, class: "form-control" %>
    </div>
        <%= f.submit "送信", class: 'btn btn-primary btn-block' %>
        <%= render 'layouts/error_messages', model: f.object %>
<% end %>